<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<!-- Temporary Fix to enable Https in Heroku. We need to investigate this further -->
<Context>
  <Valve className="org.apache.catalina.valves.RemoteIpValve" remoteIpHeader="x-forwarded-for" protocolHeader="x-forwarded-proto" portHeader="x-forwarded-port"/>
</Context>